/* // signup page  */
body {
  background: rgb(245, 241, 241);
}
section {
  margin: 3rem auto;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  /* border: 2px solid red; */
}
.signup-form .register-form {
  padding: 2rem;
}
.signup-form .register-form .form-title {
  padding: 2px;
  text-decoration: underline;
  font-weight: 700;
  margin-bottom: 1rem;
}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.form-group label {
  margin-right: 1rem;
}
.form-group input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.form-button input {
  padding: 4px 6px;
  background-color: rgb(44, 195, 44);
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 0.4rem;
}
.form-button input:hover {
  transform: scale(1.02);
  background-color: rgb(44, 166, 44);
}

.signImage {
  width: 20rem;
}
.signup-image p {
  text-align: center;
}

@media (max-width: 700px) {
  .signup-form {
    flex-direction: column;
  }
}

/* // footer  */
.footer {
  height: 2.5rem;
  background-color: #fff;
  text-align: center;
  margin-top: 10px;
}
