/* // signup page  */
body {
  background: rgb(245, 241, 241);
}
section {
  margin: 3rem auto;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-form,
.signin-form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  /* border: 2px solid red; */
}
.signup-form .register-form {
  padding: 2rem;
}
.signup-form .register-form .form-title {
  padding: 2px;
  text-decoration: underline;
  font-weight: 700;
  margin-bottom: 1rem;
}
.form-group {
  display: flex;
  align-items: center;
  margin: auto 2rem 1rem;
}
.form-group label {
  margin-right: 1rem;
}
.form-group input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.form-button input {
  padding: 4px 6px;
  background-color: rgb(44, 195, 44);
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 0.4rem;
}
.form-button input:hover {
  transform: scale(1.02);
  background-color: rgb(44, 166, 44);
}

.signImage {
  width: 20rem;
}
.signup-image p,
.signin-image p {
  text-align: center;
}
.signup-image p:hover,
.signin-image p:hover {
  text-decoration: underline;
}
.signup-image-link,
.signin-image-link {
  text-decoration: none;
}

@media (max-width: 700px) {
  .signup-form,
  .signin-form {
    flex-direction: column;
  }
}

/* // footer  */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  background-color: #fff;
  text-align: center;
  margin-top: 10px;
}

/* // contact page  */
.details {
  margin: 2rem auto;
}
.contact_info_item {
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: auto 0.2rem;
  padding: 1rem 3rem;
  width: inherit;
  background-color: #fff;
}
.contact_info_icons {
  font-size: 2rem;
  margin-right: 10px;
}
.contact_info_title {
  font-weight: 600;
}
.form-col {
  border-radius: 1.5rem;
  background-color: #fff;
  padding: 2rem;
}
.contact_form_title {
  font-size: larger;
  font-weight: 600;
}
.contact_form_name input {
  margin: 0.5rem 0.15rem;
  border: 1px solid #cacaca;
  padding: 3px 5px;
  outline: none;
}
.contact_form-text textarea {
  width: 100%;
}
.button {
  padding: 0.1rem 0.3rem;
  background: #1fce78;
  border-radius: 8px;
  margin: 1rem 0;
}

@media (max-width: 700px) {
  .details {
    flex-direction: column;
    margin: 2rem auto;
  }
  .contact_info_item {
    margin-bottom: 1rem;
  }
  .button {
    font-size: small;
  }
}
